<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<title>Turf Booking</title>
</head>
<body>

    <h3>Reset Password</h3>
    <div class="text-center container shadow-lg p-3 mt-5 bg-body rounded vw-100">
        <h2>Reset Password</h2>
        <hr>
        {% if msgReset=="" %}
            {{ continue }}
        {% elif msgReset=="Mail sent successfully to your email !! :)" %}
        <div class="alert alert-success alert-dismissible fade show mx-auto w-50" role="alert">
          <span>{{ msgReset }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
          <div class="alert alert-danger alert-dismissible fade show mx-auto w-50" role="alert">
            <span>{{ msgReset }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        <form method="POST" action="{{ url_for('user.resetpassword',token=reset_token) }}">
            <div class="form-floating mb-2 mx-auto w-50">
              <input type="password" name="password" class="form-control" placeholder="Perfect@123" required>
              <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating mb-2 mx-auto w-50">
                <input type="password" name="confirmpassword" class="form-control" placeholder="Perfect@123" required>
                <label for="floatingInput">Confirm Password</label>
              </div>          
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>

</body>
</html>