{% extends "user/layout.html" %}

{% block head %}

<style>
    /* navigation bar background color and football player image */
.nav_bg{
    width: 100%;
    height: 60vh;
    display: flex;
    position: relative;
    top: -1px;
    left: 835px;
    transform: translate(-55%);
    z-index: 1;
   

}


.nav_bg .head_bg_image img{
    position: absolute;
    z-index: 2;
  

}

/* heading and discription of webside below the navigation bar */

.head_highlight{
    margin-top: 200px;
    color: white;
    margin-left: 175px;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(-90deg,#02203c,#001528);
    margin-bottom: 50px;
}

.head_highlight h2{
    font-size: 50px;
    font-weight: 400;
    color: rgba(197, 197, 197, 0.993);
}

.head_highlight p{
    font-size: 20px;
    font-family: 'Yellowtail', cursive;
    width: 640px;
    margin-top: 100px;
    margin-left: 221px;
}

        /* heading ended here */

/* list of turf grounds */


{% endblock %}



{% block content %}
    <div class="nav_bg">
        <div class="head_highlight">
            <h2>GameOn</h2>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ITS HERE..!!&nbsp;&nbsp;&nbsp;  LETS PLAY.. </p>
        </div>
        <div class="head_bg_image">
            <img src="{{url_for('static',filename='user/template.png')}}" alt="">
        </div>
    </div>  
    {% for turf in turfDetails%}
    {% else %}
                  <div>
                  <button type="button"class="learn-more-btn"><a href="{{url_for('user.login')}}"> Learn more</a> </button>
                </div>
                {% endif  %}
    <div class="turf">
        <div class="turf_container">
            <div class="turf_img_cls">
                <img src="{{url_for('static',filename='user/'+ turf[10])}}" alt="" class="turfImg">
            </div>
            <div class="turf_detail">
                <div class="turf_detail">
                <a href="#" >{{ turf[1] }}</a>
                <p>{{ turf[2] }}</p>
            </div>
             {% if 'userLoggedin' in session  %}
            <div>
                <button type="button"class="learn-more-btn"><a href="{{ url_for('user.book',turfID=turf[0]) }}"> Learn more</a> </button>
            </div>
                  
            

        </div>
    </div>

    {% endfor %}


{% endblock %}