<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<title>Turf Booking</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">GameOn Super Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
            <span class="navbar-text">
              Navbar text with an inline element
            </span>
          </div> -->
        </div>
      </nav>

      <div class="text-center container shadow-lg p-3 mt-5 bg-body rounded vw-100">
        <h2>Login</h2>
        <hr>
        {% if msgSA=="" %}
            {{ continue }}
        {% else %}
          <div class="alert alert-danger alert-dismissible fade show mx-auto w-50" role="alert">
            <span>{{ msgSA }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        <form method="POST" action="{{ url_for('super_admin.login')}}">
            <div class="form-floating mb-2 mx-auto w-50">
              <input type="text" name="usernameSA" class="form-control" placeholder="mrperfect007" required>
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3 mx-auto w-50">
              <input type="password" name="passwordSA" class="form-control" placeholder="Password" minlength="8" required>
              <label for="floatingPassword">Password</label>
            </div>            
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
    </div>
    
</body>
</html>